* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    color: #333;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 20px;
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-sizing: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-row{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}